# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
venv/
env/
*.egg-info/

# Environment
.env

# IDE / редактор
.vscode/
.idea/
.idea/modules.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/profiles_settings.xml
BooRing.iml

# Файлы
seed.py
add-post.py

# Мусор из OC
.DS_Store