.friends {
    background: black;
    color: white;
}

.friends img {
    filter: invert(1);
}

.friends-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
    align-items: center;
}

.friends-count {
    width: 530px;
    font-size: 40px;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 30px;
}

.friends-count-no {
    font-size: 40px;
    margin: 0;
    padding-top: 50px;
}