html, body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: row;
}

.menu {
    width: 350px;
    min-width: 300px;
    left: 0;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    box-sizing: border-box;
}

.search, .push, .friends, .chats, .profile, .post-info-btn, .logo {
    transition: all 0.3s ease;
}

.search:hover, .push:hover, .friends:hover, .chats:hover, .profile:hover, .post-info-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.logo:hover {
    transform: scale(1.05);
}

.search:active, .push:active, .friends:active, .chats:active, .profile:active, .post-info-btn:active {
    transform: scale(1.10);
    background: black;
    transition: 0.1s ease;
    color: white;
}

.logo:active {
    transform: scale(1.10);
    transition: 0.1s ease;
}

.search:active img, .push:active img, .friends:active img, .chats:active img, .profile:active img {
    filter: invert(1);
}

.profile:active img.avatar {
    filter: none;
}

.logo {
    width: 100px;
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}

.search, .push, .friends, .chats, .profile {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
    border: 2px solid black;
    border-radius: 30px;
    cursor: pointer;
}

.menu-text {
    font-size: 30px;
    padding-left: 10px;
    font-weight: 500;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.daily {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding: 0 20px;
    border: 2px solid black;
    border-radius: 30px;
}

.daily-time {
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    padding-top: 5px;
}

.daily-label {
    font-size: 17px;
    font-weight: 700;
    margin: 0;
    padding-bottom: 15px;
}

.search img, .push img, .friends img, .chats img {
    width: 40px;
    height: 40px;
    transition: filter 0.1s ease;
}

.user-profile {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 30px;
}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.user-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.username {
    display: inline-block;
    text-align: center;
    border: 2px solid black;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 25px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bio {
    max-width: 430px;
    text-align: left;
    border: 2px solid black;
    border-radius: 50px;
    padding: 20px 35px;
    font-size: 23px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 5px;
}

.follow-btn {
    border: 2px solid black;
    border-radius: 50px;
    font-size: 30px;
    font-weight: 600;
    background: white;
    padding: 15px 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.follow-btn:hover {
    color: white;
    background: black;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.follow-btn:active {
    background: #2b2b2b;
    transform: scale(1.10);
    transition: 0.1s ease;
}

.stats {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 5px;
}

.stats-item {
    flex: 1;
    border: 2px solid black;
    border-radius: 50px;
    padding: 20px 30px;
}

.stats-number {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}

.stats-category {
    font-size: 30px;
    font-weight: 600;
    margin: 0;
}

.posts {
    margin-top: 30px;
}

.post-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.post {
    width: 530px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 20px;
    overflow: hidden;
    padding: 0 15px 15px 15px;
}

.post-image {
    width: 100%;
    border-radius: 10px;
}

.post-avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.post-user-info {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.post-username {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.post-time {
    font-size: 14px;
    font-weight: 400;
    color: gray;
    margin: 0;
}

.post-info-btn {
    width: 35px;
    height: 35px;
    border: 2px solid black;
    border-radius: 50%;
    background: white;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment img {
    width: 24px;
    height: 24px;
    transition: filter 0.2s ease;
    cursor: pointer;
}

.like img {
    width: 27px;
    height: 27px;
    transition: filter 0.2s ease;
    cursor: pointer;
}

.like:hover img {
    filter: invert(27%) sepia(100%) saturate(700%) hue-rotate(320deg);
}

.comment:hover img {
    filter: invert(27%) sepia(100%) saturate(700%) hue-rotate(200deg);
}

.like.liked img {
    filter: invert(27%) sepia(100%) saturate(700%) hue-rotate(320deg);
}

.like-icon:active {
    transform: scale(1.10);
    transition: 0.1s ease;
}

.post-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 30px;
    width: fit-content;
    margin-top: 10px;
}

.like, .comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.like p, .comment p {
    font-size: 23px;
    font-weight: 500;
    margin: 0;
}

.post-wrapper {
    margin-bottom: 40px;
}

a {
    text-decoration: none;
    color: inherit;
}