<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница не найдена</title>
    <link rel="stylesheet" href="../../static/errors/error-404.css">
    <link rel="shortcut icon" href="../../static/feed/images/logo.svg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <img class="logo" src="../../static/feed/images/logo.svg" alt="">
    <div class="error">
        <div class="error-window">
            <p class="title">О НЕТ</p>
            <p class="main">кажется такой страницы <br> не существует</p>
        </div>
        <a href="/feed">
            <div class="button">
                <p>Вернуться на главную</p>
            </div>
        </a>
    </div>
</body>
</html>