<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лента</title>
    <link rel="stylesheet" href="../../static/feed/css/feed.css">
    <link rel="shortcut icon" href="../../static/feed/images/logo.svg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="menu">
        <a href="/feed">
            <img class="logo" src="../../static/feed/images/logo.svg" alt="">
        </a>
        <a href="/search">
            <div class="search">
                <img src="../../static/feed/images/search.svg" alt="">
                <p class="menu-text">Поиск</p>
            </div>
        </a>
        <a href="/push">
            <div class="push">
                <img src="../../static/feed/images/push.svg" alt="">
                <p class="menu-text">Пуши</p>
            </div>
        </a>
        <a href="/friends">
            <div class="friends">
                <img src="../../static/feed/images/friends.svg" alt="">
                <p class="menu-text">Друзья</p>
            </div>
        </a>
        <a href="/chats">
            <div class="chats">
                <img src="../../static/feed/images/chats.svg" alt="">
                <p class="menu-text">Чаты</p>
            </div>
        </a>
        <div class="daily">
            <p class="daily-time">{{ time_until }}</p>
            <p class="daily-label">ДО СЛЕДУЮЩЕГО ДЕЙЛА</p>
        </div>
        <a href="/profile/{{ user.username }}">
            <div class="profile">
                <img src="{{ user.avatar_url or '/static/feed/images/default_avatar.svg' }}" alt="" class="avatar">
                <p class="menu-text">{{ user.username }}</p>
            </div>
        </a>
    </div>
    <div class="feed">
        <div class="task">
            <p>{{ task.title if task else "Задания на сегодня нет" }}</p>
        </div>
        <div class="posts">
            {% for post in posts %}
            <div class="post-wrapper">
                <div class="post">
                    <div class="post-header">
                        <a href="/profile/{{ post.author_username }}">
                            <img class="post-avatar" src="{{ post.author_avatar or '/static/feed/images/default_avatar.svg' }}" alt="">
                        </a>
                        <div class="post-user-info">
                            <a href="/profile/{{ post.author_username }}">
                                <p class="post-username">{{ post.author_username }}</p>
                            </a>
                            <p class="post-time">{{ post.created_at }} </p>
                        </div>
                        <div class="post-info">
                            <p class="post-info-btn">i</p>
                            <div class="post-tooltip">
                                {{ post.task_title }}
                            </div>
                        </div>
                    </div>
                    {% if post.image_url %}
                        <img class="post-image" src="{{ post.image_url }}" alt="">
                    {% endif %}
                    {% if post.text %}
                        <p class="post-text">{{ post.text }}</p>
                    {% endif %}
                </div>
                <div class="post-footer">
                    <div class="like {% if post.is_liked %} liked {% endif %}" data-post-id="{{ post.id }}">
                        <img src="{% if post.is_liked %} /static/feed/images/like-filled.svg {% else %} /static/feed/images/like.svg {% endif %}" class="like-icon">
                        <p>{{ post.likes_count }}</p>
                    </div>
                    <div class="comment">
                        <img src="/static/feed/images/comment.svg" alt="" class="comment-icon">
                        <p>{{ post.comments_count }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="add-post">
        <button class="new-post">
            <p>+</p>
        </button>
        <p>Создать пост</p>
    </div>
    <script src="../../static/feed/js/likes_and_comments.js"></script>
    <script src="../../static/feed/js/task_info.js"></script>
</body>
</html>