{% extends "feed/base.html" %}

{% block title %}Друзья{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/feed/css/friends.css">
<link rel="stylesheet" href="/static/feed/css/components/posts.css">
{% endblock %}

{% block content %}

<div class="friends-section">
    <p class="{% if posts %}friends-count{% else %}friends-count-no{% endif %}">{{ friends_count }} {{ friends_declination }}</p>
    {% if posts %}
        {% include "feed/components/posts.html" %}
    {% else %}
        {% if friends_count > 0 %}
            <p class="no-posts">Ваши друзья пока не выложили ни одного поста...</p>
        {% else %}
            {% if friends_count <= 0 %}
                <p class="no-friends">Друзей пока нет...</p>
            {% endif %}
        {% endif %}
    {% endif %}
</div>

{% endblock %}

{% block scripts %}
<script src="/static/feed/js/comment-textarea-extension.js"></script>
<script src="/static/feed/js/likes.js"></script>
<script src="/static/feed/js/task-info.js"></script>
<script src="/static/feed/js/comments-show.js"></script>
<script src="/static/feed/js/comment-send.js"></script>
{% endblock %}