{% extends "feed/base.html" %}

{% block title %}{{ profile_user.username }}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/feed/css/profile.css">
<link rel="stylesheet" href="/static/feed/css/components/posts.css">
{% endblock %}

{% block content %}

<div class="user-profile">
    <div class="head">
        <img src="{{ profile_user.avatar_url or '/static/feed/images/default_avatar.svg' }}" alt="" class="user-avatar">
        <p class="username">{{ profile_user.username }}</p>
        {% if profile_user.bio %}
            <p class="bio">{{ profile_user.bio | replace('\n', '<br>') | safe }}</p>
        {% endif %}
        {% if not is_own_profile %}
            <div class="profile-buttons">
                <button class="follow-btn {% if is_subscribed %}unfollow{% endif %}" data-username="{{ profile_user.username }}">
                    {% if is_subscribed %}Отписаться{% else %}Подписаться{% endif %}
                </button>
                <a href="/chats/{{ profile_user.username }}">
                    <div class="message">
                        <img src="/static/feed/images/chats.svg" alt="" class="message-icon">
                    </div>
                </a>
            </div>
        {% endif %}
        <div class="stats" data-username="{{ profile_user.username }}">
            <div class="stats-item" data-list="following">
                <p class="stats-number" id="following-count">{{ following_count }}<br></p>
                <p class="stats-category" id="following-declination">{{ declination.following }}</p>
            </div>
            <div class="stats-item" data-list="friends">
                <p class="stats-number" id="friends-count">{{ friends_count }}<br></p>
                <p class="stats-category" id="friends-declination">{{ declination.friends }}</p>
            </div>
            <div class="stats-item" data-list="subs">
                <p class="stats-number" id="followers-count">{{ followers_count }}<br></p>
                <p class="stats-category" id="subs-declination">{{ declination.subs }}</p>
            </div>
            <div class="stats-item" id="posts-stat">
                <p class="stats-number" id="posts-count">{{ posts_count }}<br></p>
                <p class="stats-category" id="posts-declination">{{ declination.posts }}</p>
            </div>
        </div>
    </div>
    {% include "feed/components/posts.html" %}
</div>

{% endblock %}

{% block scripts %}

<script src="/static/feed/js/subscription.js"></script>
<script src="/static/feed/js/likes.js"></script>
<script src="/static/feed/js/task-info.js"></script>
<script src="/static/feed/js/tools.js"></script>
<script src="/static/feed/js/comments-show.js"></script>
<script src="/static/feed/js/comment-send.js"></script>
<script src="/static/feed/js/comment-textarea-extension.js"></script>
<script src="/static/feed/js/subs-friends-following-list.js"></script>
<!-- Для прокрутки к постам, при нажатии на stats-item постов -->
<script>
    document.getElementById('posts-stat').addEventListener('click', () => {
        const el = document.getElementById('posts-section')
        const top = el.getBoundingClientRect().top + window.scrollY - 20
        window.scrollTo({ top: top, behavior: 'smooth' })
    })
</script>
<script src="/static/feed/js/hashtags.js"></script>

{% endblock %}