<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
    <link rel="stylesheet" href="../../static/feed/css/profile.css">
    <link rel="shortcut icon" href="../../static/feed/images/logo.svg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="menu">
        <a href="/feed">
            <img class="logo" src="../../static/feed/images/logo.svg" alt="">
        </a>
        <a href="/search">
            <div class="search">
                <img src="../../static/feed/images/search.svg" alt="">
                <p class="menu-text">Поиск</p>
            </div>
        </a>
        <a href="/push">
            <div class="push">
                <img src="../../static/feed/images/push.svg" alt="">
                <p class="menu-text">Пуши</p>
            </div>
        </a>
        <a href="/friends">
            <div class="friends">
                <img src="../../static/feed/images/friends.svg" alt="">
                <p class="menu-text">Друзья</p>
            </div>
        </a>
        <a href="/chats">
            <div class="chats">
                <img src="../../static/feed/images/chats.svg" alt="">
                <p class="menu-text">Чаты</p>
            </div>
        </a>
        <div class="daily">
            <p class="daily-time">{{ time_until }}</p>
            <p class="daily-label">ДО СЛЕДУЮЩЕГО ДЕЙЛА</p>
        </div>
        <a href="/profile">
            <div class="profile">
                <img src="{{ user.avatar_url or '/static/feed/images/default_avatar.svg' }}" alt="" class="avatar">
                <p class="menu-text">{{ user.username }}</p>
            </div>
        </a>
    </div>
    <div class="user-profile">
        <div class="head">
            <img src="/static/feed/images/test-photo.jpeg" alt="" class="user-avatar">
            <p class="username">danya</p>
            <p class="bio">Дизайнер из Лос-Анжелеса Коуч по духовной силе Диджей на привелигированной яхте</p>
            <button class="follow-btn">Подписаться</button>
            <div class="stats">
                <div class="stats-item">
                    <p class="stats-number">124<br></p>
                    <p class="stats-category">друга</p>
                </div>
                <div class="stats-item">
                    <p class="stats-number">2435<br></p>
                    <p class="stats-category">саба</p>
                </div>
                <div class="stats-item">
                    <p class="stats-number">3<br></p>
                    <p class="stats-category">поста</p>
                </div>
            </div>
        </div>
        <div class="posts">
            <div class="post-wrapper">
                <div class="post">
                    <div class="post-header">
                        <img class="post-avatar" src="/static/feed/images/default_avatar.svg" alt="">
                        <div class="post-user-info">
                            <p class="post-username">danya</p>
                            <p class="post-time">2 ч. назад</p>
                        </div>
                        <p class="post-info-btn">i</p>
                    </div>
                    <img class="post-image" src="/static/feed/images/test-photo.jpeg" alt="">
                    <p class="post-text">Всем привет! Как у вас дела?</p>
                </div>
                <div class="post-footer">
                    <div class="like">
                        <img src="/static/feed/images/like.svg" alt="" class="like-icon">
                        <p>20</p>
                    </div>
                    <div class="comment">
                        <img src="/static/feed/images/comment.svg" alt="" class="comment-icon">
                        <p>30</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>