<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ profile_user.username }}</title>
    <link rel="stylesheet" href="../../static/feed/css/profile.css">
    <link rel="shortcut icon" href="../../static/feed/images/logo.svg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="menu">
        <a href="/feed">
            <img class="logo" src="../../static/feed/images/logo.svg" alt="">
        </a>
        <a href="/search">
            <div class="search">
                <img src="../../static/feed/images/search.svg" alt="">
                <p class="menu-text">Поиск</p>
            </div>
        </a>
        <a href="/push">
            <div class="push">
                <img src="../../static/feed/images/push.svg" alt="">
                <p class="menu-text">Пуши</p>
            </div>
        </a>
        <a href="/friends">
            <div class="friends">
                <img src="../../static/feed/images/friends.svg" alt="">
                <p class="menu-text">Друзья</p>
            </div>
        </a>
        <a href="/chats">
            <div class="chats">
                <img src="../../static/feed/images/chats.svg" alt="">
                <p class="menu-text">Чаты</p>
            </div>
        </a>
        <div class="daily">
            <p class="daily-time">{{ time_until }}</p>
            <p class="daily-label">ДО СЛЕДУЮЩЕГО ДЕЙЛА</p>
        </div>
        <div class="profile-and-settings">
            <a href="/profile/{{ current_user.username }}">
                <div class="profile {% if is_own_profile %}own{% endif %}">
                    <img src="{{ current_user.avatar_url or '/static/feed/images/default_avatar.svg' }}" alt="" class="avatar">
                    <p class="menu-text">{{ current_user.username }}</p>
                </div>
            </a>
            {% if is_own_profile %}
            <a href="/settings/{{ current_user.username }}">
                <div class="settings">
                    <img src="../../static/feed/images/settings.svg" alt="">
                </div>
            </a>
            {% endif %}
        </div>
    </div>
    <div class="user-profile">
        <div class="head">
            <img src="{{ profile_user.avatar_url or '/static/feed/images/default_avatar.svg' }}" alt="" class="user-avatar">
            <p class="username">{{ profile_user.username }}</p>
            {% if profile_user.bio %}
                <p class="bio">{{ profile_user.bio }}</p>
            {% endif %}
            {% if not is_own_profile %}
                {% if not is_following %}
                <button class="follow-btn">Подписаться</button>
                {% else %}
                <button class="follow-btn">Отписаться</button>
                {% endif %}
            {% endif %}
            <div class="stats">
                <div class="stats-item">
                    <p class="stats-number">{{ friends_count }}<br></p>
                    <p class="stats-category">{{ declination.friends }}</p>
                </div>
                <div class="stats-item">
                    <p class="stats-number">{{ followers_count }}<br></p>
                    <p class="stats-category">{{ declination.subs }}</p>
                </div>
                <div class="stats-item">
                    <p class="stats-number">{{ posts_count }}<br></p>
                    <p class="stats-category">{{ declination.posts }}</p>
                </div>
            </div>
        </div>
        <div class="posts">
            {% for post in posts %}
            <div class="post-wrapper">
                <div class="post">
                    <div class="post-header">
                        <img class="post-avatar" src="{{ profile_user.avatar_url or '/static/feed/images/default_avatar.svg' }}" alt="">
                        <div class="post-user-info">
                            <p class="post-username">{{ profile_user.username }}</p>
                            <p class="post-time">{{ post.created_at }}</p>
                        </div>
                        <p class="post-info-btn">i</p>
                    </div>
                    {% if post.image_url %}
                        <img class="post-image" src="{{ post.image_url }}" alt="">
                    {% endif %}
                    {% if post.post_text %}
                        <p class="post-text">{{ post.post_text }}</p>
                    {% endif %}
                </div>
                <div class="post-footer">
                    <div class="like">
                        <img src="/static/feed/images/like.svg" alt="" class="like-icon">
                        <p>{{ post.likes_count }}</p>
                    </div>
                    <div class="comment">
                        <img src="/static/feed/images/comment.svg" alt="" class="comment-icon">
                        <p>{{ post.comments_count }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>