{% extends "feed/base.html" %}

{% block title %}Лента{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/feed/css/push.css">
{% endblock %}

{% block content %}

<div class="push-container">
<p class="push-title">{{ push_count }} {{ push_declination }}</p>
    <div class="push-grid">
        {% for push in pushes_unread %}
        <div class="push-card">
            <div class="user-info">
                <a href="/profile/{{ push.sender_username }}">
                    <img src="{{ push.sender_avatar_url or '/static/feed/images/default_avatar.svg' }}" alt="" class="push-avatar">
                </a>
                <div class="name-and-time">
                    <a href="/profile/{{ push.sender_username }}">
                        <p class="push-username">{{ push.sender_username }}</p>
                    </a>
                    <p class="push-time">{{ push.created_at }}</p>
                </div>
            </div>
            <p class="push-text">{{ push.text }}</p>
        </div>
        {% endfor %}
    </div>
    {% if pushes_read %}
    <div class="push-divider">
        <p>Прочитанные</p>
    </div>
    <div class="push-grid">
        {% for push in pushes_read %}
        <div class="push-card">
            <div class="user-info">
                <a href="/profile/{{ push.sender_username }}">
                    <img src="{{ push.sender_avatar_url or '/static/feed/images/default_avatar.svg' }}" alt="" class="push-avatar">
                </a>
                <div class="name-and-time">
                    <a href="/profile/{{ push.sender_username }}">
                        <p class="push-username">{{ push.sender_username }}</p>
                    </a>
                    <p class="push-time">{{ push.created_at }}</p>
                </div>
            </div>
            <p class="push-text">{{ push.text }}</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

{% endblock %}