{% extends "feed/base.html" %}

{% block title %}Поиск{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/static/feed/css/search.css">
{% endblock %}

{% block content %}
<div class="content">
    <div class="search-input">
        <input placeholder="Начните вводить имя..." type="text">
    </div>
    {% if results %}
        <div class="search-result">
            {% for result in results %}
            <a href="/profile/{{ result.username }}">
                <div class="result">
                    <img class="result-avatar" src="{{ result.avatar_url or '/static/feed/images/default_avatar.svg' }}" alt="">
                    <p class="result-name">{{ result.username }}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    {% else %}
    <div class="not-found">
        <p>Таких пользователей не найдено</p>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script src="/static/feed/js/search.js"></script>
{% endblock %}
