<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Настройки {{ user.username }}</title>
    <link rel="stylesheet" href="../../static/feed/css/settings.css">
    <link rel="shortcut icon" href="../../static/feed/images/logo.svg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="menu">
        <a href="/feed">
            <img class="logo" src="/static/feed/images/logo.svg" alt="">
        </a>
        <a href="/search">
            <div class="search">
                <img src="/static/feed/images/search.svg" alt="">
                <p class="menu-text">Поиск</p>
            </div>
        </a>
        <a href="/push">
            <div class="push">
                <img src="/static/feed/images/push.svg" alt="">
                <p class="menu-text">Пуши</p>
            </div>
        </a>
        <a href="/friends">
            <div class="friends">
                <img src="/static/feed/images/friends.svg" alt="">
                <p class="menu-text">Друзья</p>
            </div>
        </a>
        <a href="/chats">
            <div class="chats">
                <img src="/static/feed/images/chats.svg" alt="">
                <p class="menu-text">Чаты</p>
            </div>
        </a>
        <div class="daily">
            <p class="daily-time">{{ time_until }}</p>
            <p class="daily-label">ДО СЛЕДУЮЩЕГО ДЕЙЛА</p>
        </div>
        <a href="/profile/{{ user.username }}">
            <div class="profile">
                <img src="{{ user.avatar_url or '/static/feed/images/default_avatar.svg' }}" alt="" class="avatar">
                <p class="menu-text">{{ user.username }}</p>
            </div>
        </a>
    </div>
    <div class="settings-container">
        <p class="s-title">Настройки</p>
        <div class="s-bio">
            <p>Био</p>
            <textarea placeholder="Расскажите о себе" id="bio">{{ user.bio or '' }}</textarea>
        </div>
        <div class="s-avatar">
            <p>Аватар</p>
            <div class="s-avatar-container">
                <img src="{{ user.avatar_url or '/static/feed/images/default_avatar.svg' }}" alt="" class="s-avatar-image" id="current-avatar">
                <img src="/static/feed/images/arrow.svg" alt="" class="arrow" id="arrow" style="display:none">
                <img src="" alt="" class="s-avatar-image" id="preview-avatar" style="display:none">
            </div>
            <input type="file" id="avatar-input" style="display:none">
            <button onclick="document.getElementById('avatar-input').click()">Выбрать фото</button>
        </div>
        <button class="s-apply" id="apply-changes" data-username="{{ user.username }}">Применить настройки</button>
    </div>
    <script src="/static/feed/js/timer.js"></script>
    <script src="/static/feed/js/avatar-catch.js"></script>
</body>
</html>