{% extends "feed/base.html" %}

{% block title %}Список пользователей{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/feed/css/users-list.css">
{% endblock %}

{% block content %}
<div class="content">
    <p class="count">{{ count }} {{ declination }}</p>
    <div class="search-result">
        {% for result in results %}
        <a href="/{% if chats %}chats{% else %}profile{% endif %}/{{ result.username }}">
            <div class="result">
                <img class="result-avatar" src="{{ result.avatar_url or '/static/feed/images/default_avatar.svg' }}" alt="">
                <p class="result-name">{{ result.username }}</p>
                {% if chats and result.messages_count != "0" %}
                    <div class="messages-badge">
                        {{ result.messages_count }}
                    </div>
                {% endif %}
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}