<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DayHob</title>
    <link rel="stylesheet" href="../../static/auth/css/index.css">
    <link rel="shortcut icon" href="../../static/auth/images/logo.svg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div>
            <img src="../../static/auth/images/logo.svg" alt="" class="site-icon">
        </div>
    </header>
    <div class="carousel">
        <div class="group">
            <img src="../../static/auth/images/img1.svg" class="card" alt="">
            <img src="../../static/auth/images/img2.svg" class="card" alt="">
            <img src="../../static/auth/images/img3.svg" class="card" alt="">
            <img src="../../static/auth/images/img4.svg" class="card" alt="">
            <img src="../../static/auth/images/img5.svg" class="card" alt="">
            <img src="../../static/auth/images/img6.svg" class="card" alt="">
            <img src="../../static/auth/images/img7.svg" class="card" alt="">
        </div>
        <div aria-hidden class="group">
            <img src="../../static/auth/images/img1.svg" class="card" alt="">
            <img src="../../static/auth/images/img2.svg" class="card" alt="">
            <img src="../../static/auth/images/img3.svg" class="card" alt="">
            <img src="../../static/auth/images/img4.svg" class="card" alt="">
            <img src="../../static/auth/images/img5.svg" class="card" alt="">
            <img src="../../static/auth/images/img6.svg" class="card" alt="">
            <img src="../../static/auth/images/img7.svg" class="card" alt="">
        </div>
    </div>
    <footer class="footer">
        <div class="footer-content">
            <a href="/login">
                <button class="btn log-in" type="submit">Войти</button>
            </a>
            <a href="/signin">
                <button class="btn sign-in" type="submit">Регистрация</button>
            </a>
        </div>
    </footer>
</body>
</html>