<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="../../static/auth/css/login.css">
    <link rel="shortcut icon" href="../../static/auth/images/logo.svg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <a href="/">
            <img class="site-icon" src="../../static/auth/images/logo.svg" alt="">
        </a>
    </header>
    <form action="/login" method="post">
        <main class="main">
            {% if error %}
                <div class="error-container">
                    <div class="error-item">{{ error }}</div>
                </div>
            {% endif %}
            <div class="login">
                <label for="username" class="text">Логин</label>
                <input id="username" class="input" name="username" required value="{{ username or '' }}">
            </div>
            <div class="password">
                <label for="password" class="text">Пароль</label>
                <input id="password" class="input" type="password" name="password" required>
            </div>
        </main>
        <footer class="footer">
            <button class="btn" type="submit">Войти</button>
        </footer>
    </form>
</body>
</html>