<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DayHob</title>
    <link rel="stylesheet" href="../../static/auth/css/login.css">
    <link rel="shortcut icon" href="../../static/auth/images/logo.svg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <a href="/">
            <img class="site-icon" src="../../static/auth/images/logo.svg" alt="">
        </a>
    </header>
    <main class="main">
        <div class="login">
            <p class="text">Логин</p>
            <input class="input">
        </div>
        <div class="password">
            <p class="text">Пароль</p>
            <input class="input" type="password">
        </div>
    </main>
    <footer class="footer">
        <button class="btn" type="submit">Войти</button>
    </footer>
</body>
</html>