<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DayHob</title>
    <link rel="stylesheet" href="../../static/auth/css/register.css">
    <link rel="shortcut icon" href="../../static/auth/images/logo.svg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
</head>
    <body>
        <header class="header">
            <div class="site-icon">
                <a href="/">
                    <img src="../../static/auth/images/logo.svg" alt="" class="site-icon">
                </a>
            </div>
        </header>
        <main class="main">
            <div class="login">
                <p class="text">Придумайте логин</p>
                <input placeholder="BestUserEver123" class="inputlong">
            </div>
            <div class="mail">
                <p class="text">Введите свою почту</p>
                <input placeholder="user@gmail.com" class="inputlong">
            </div>
            <div class="passwords">
                <div class="setpassword">
                    <p class="text">Придумайте пароль</p>
                    <input placeholder="qwerty123" class="inputshort" type="password">
                </div>
                <div class="repeatpassword">
                    <p class="text">Подтвердите пароль</p>
                    <input placeholder="qwerty123" class="inputshort" type="password">
                </div>
            </div>
        </main>
        <footer class="footer">
            <button class="btn">Регистрация</button>
        </footer>
    </body>
</html>