<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="../../static/auth/css/register.css">
    <link rel="shortcut icon" href="../../static/auth/images/logo.svg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
</head>
    <body>
        <header class="header">
            <div class="site-icon">
                <a href="/">
                    <img src="../../static/auth/images/logo.svg" alt="" class="site-icon">
                </a>
            </div>
        </header>
        <form action="/register" method="post">
            <main class="main">
                {% if errors %}
                <div class="error-container">
                    {% for error in errors %}
                    <div class="error-item">{{ error }}</div>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="login">
                    <label for="username" class="text">Придумайте логин</label>
                    <input id="username" placeholder="BestUserEver123" class="inputlong" name="username" required value="{{ username or '' }}">
                </div>
                <div class="mail">
                    <label for="email" class="text">Введите свою почту</label>
                    <input id="email" placeholder="user@gmail.com" class="inputlong" type="email" name="email" required value="{{ email or '' }}">
                </div>
                <div class="passwords">
                    <div class="setpassword">
                        <label for="password" class="text">Придумайте пароль</label>
                        <input id="password" placeholder="qwerty123" class="inputshort" type="password" name="password" required>
                    </div>
                    <div class="repeatpassword">
                        <label for="password_confirm" class="text">Подтвердите пароль</label>
                        <input id="password_confirm" placeholder="qwerty123" class="inputshort" type="password" name="password_confirm" required>
                    </div>
                </div>
            </main>
            <footer class="footer">
                <button class="btn" type="submit">Регистрация</button>
            </footer>
        </form>
    </body>
</html>