* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
}

.site-icon {
    width: 110px;
    padding-top: 20px;
}

.footer {
    padding: 40px 0;
}

.footer-content {
    display: flex;
    justify-content: center;
    gap: 120px;
}

.btn {
    width: 300px;
    height: 50px;
    border-radius: 999px;
    font-family: "Monserrat", sans-serif;
    font-size: 26px;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* чёрная кнопка */
.log-in {
    background: #000;
    color: #fff;
    border: none;
}

.log-in:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.log-in:active {
    transform: scale(1.10);
    background: #2b2b2b;
    transition: 0.1s ease;
}

/* белая с обводкой */
.sign-in {
    background: #fff;
    color: #000;
    border: 2px solid #000;
}

.sign-in:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.sign-in:active {
    transform: scale(1.10);
    background: #e4e4e4;
    transition: 0.1s ease;
}

.carousel {
    margin: 100px auto;
    width: 90%;
    border: 5px solid red;
    display: flex;
    overflow-x: auto;
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 40s linear infinite;
    padding-right: 1em;
}

.card {
    flex: 0 0 5em;
    height: 5em;
    padding: 1em;
    background: #8090ff;
    font-size: 3rem;
    border-radius: .2em;
    text-align: center;
    align-content: center;
}

.carousel::-webkit-scrollbar {
    display: none;
}

@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}